<header class="masthead">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-7 py-5" style weight="40rem">
              <h1 class="mb-4" style="font-size:xx-large">ENALOC MÉXICO</h1>
              <h2 class="m-0" style="text-align:justify">En Enaloc México, nuestro compromiso es ofrecerte educación especializada para que logres tus metas con el poder de tu voz. Los cursos más actualizados de Doblaje de Voz, Locución y otros temas que te ayudarán a emprender con el poder de tu talento.</h2>
              <br>
              <div class="d-flex">
                <h2><a href="#" class="w-50 pr-3">Saber más</a></h2>
              </div>
              <br>
              <div class="iconos-sociales">
                <a href="http://youtube.com/EnalocM%C3%A9xico" target="_blank"><img loading="lazy" alt="Sígueme en YouTube" height="35" width="35" src=" https://1.bp.blogspot.com/-0Ao8V_ZtT5Q/YPhkfO0JqkI/AAAAAAAAA1U/Sz5GlaSW78AsY3nZpcqeIoPA_HQUSCVLgCPcBGAYYCw/s0/Youtube-icono.png" title=" Sígueme en YouTube "/></a>
                <a href="https://www.facebook.com/enalocmx" target="_blank"><img loading="lazy" alt="Sígueme en Facebook" height="35" width="35" src=" https://1.bp.blogspot.com/-Pop-U7OywXs/YPhkfrImyiI/AAAAAAAAA1Y/UBnVfTK9j2U-bIUqwZYMNSQPvz_l06mbwCPcBGAYYCw/s0/facebook-icono.png" title="Sígueme en Facebook"/></a>
                <a href="https://www.instagram.com/enalocmx" target="_blank"><img loading="lazy" alt="Sígueme en Instagram" height="35" width="35" src="https://1.bp.blogspot.com/-VFfOISywV0c/YPhkeRXuRQI/AAAAAAAAA1M/L75S9Usg5AovunH2Y-VzqJbaaY1LuK3eACPcBGAYYCw/s0/Instagram-icono.png" title="Sígueme en Instagram"/></a>
                <a href="https://www.tiktok.com/@enalocmx" target="_blank"><img loading="lazy" alt="Sígueme en TikTok" height="35" width="35" src=" https://1.bp.blogspot.com/-rK19lcfnq9c/YPhkfuEwAnI/AAAAAAAAA1U/0ydy_rVmboQtu211UQs7_zMXdMih2LCCwCPcBGAYYCw/s0/tiktok-icono-oscuro.png" title="Sígueme en TikTok"/></a>
            </div>
          </div>
          <div class="col-lg-5">
              <div class="py-5 px-4 masthead-cards">
                  <div class="d-flex">
                      <a href="#" class="w-50 pr-3 pb-4">
                            <div class="col-6"><iframe class="elementor-video" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="Somos Enaloc México 😉" src="https://www.youtube.com/embed/cAK6Bak8pBw?controls=1&amp;rel=0&amp;playsinline=0&amp;modestbranding=0&amp;autoplay=0&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fenaloc.mx&amp;widgetid=1" id="widget2" width="480" height="270" frameborder="0">
                            </iframe></div>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <svg style="pointer-events: none" class="wave" width="100%" height="50px" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 75">
  <defs>
    <style>
      .a {
          fill: none;
      }              
      .b {
          clip-path: url(#a);
      }              
      .c, .d {
          fill: #f9f9fc;
      }              
      .d {
          opacity: 0.5;
          isolation: isolate;
      }
    </style>
    <clipPath id="a">
        <rect class="a" width="1920" height="75"></rect>
    </clipPath>
  </defs>
  <title>wave</title>
  <g class="b">
      <path class="c" d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48"></path>
  </g>
  <g class="b">
      <path class="d" d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10"></path>
  </g>
  <g class="b">
      <path class="d" d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24"></path>
  </g>
  <g class="b">
      <path class="d" d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150"></path>
  </g>
  </svg>
</header>

<section>
  <div class="container-fluid">
    <h1 class="mb-4" style="padding-top: 3rem">Oferta Académica y Especializaciones ENALOC</h1> 
    <div class="row">
      <figure class="image-block">
        <img src="https://enaloc.mx/wp-content/uploads/2020/10/banner1doblaje-768x724.png" alt="" />
        <figcaption>
          <h3>
            Actuación Y Doblaje De Voz
          </h3>
          <p><br><br> Educación profesional, práctica y rentable para impulsar tu pasión por la actuación y el doblaje de voz. <br><br></p>
          <button>
            Leer más
          </button>
        </figcaption>
      </figure>
      <figure class="image-block">
        <img src="https://enaloc.mx/wp-content/uploads/2022/02/p_3x3-1024x965-1.png" alt="" />
        <figcaption>
          <h3>
            Locución Comercial, Radial Y Podcaster
          </h3>
          <p><br><br> Conviértete en un gran Locutor o Locutora con la técnica más poderosa, completa y efectiva del mundo de habla hispana. <br><br></p>
          <button>
            Leer más
          </button>
        </figcaption>
      </figure>
    </div>
    <div class="row">
      <figure class="image-block">
        <img src="https://enaloc.mx/wp-content/uploads/2022/02/p_teens-1024x965-1.png" alt="" />
        <figcaption>
          <h3>
            Power Teens
          </h3>
          <p><br><br> Trabajamos para que tus hijos mejoren su expresividad oral y corporal para que logren socializar y venzan el miedo a comunicarse. <br><br></p>
          <button>
            Lees más
          </button>
        </figcaption>
      </figure>
      <figure class="image-block">
        <img src="https://enaloc.mx/wp-content/uploads/2022/02/p_kids-1024x965-1.png" alt="" />
        <figcaption>
          <h3>
            Power Kids
          </h3>
          <p><br><br> Un modelo educativo enfocado en impulsar las habilidades de expresividad oral y corporal de tus hijos. <br><br></p>
          <button>
            Lees más
          </button>
        </figcaption>
      </figure>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Nuestros <b>Coaches</b></h1>
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">        
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="row">
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img src="https://enaloc.mx/wp-content/uploads/2020/10/17-150x150.png" class="img-responsive" alt="">
                  </div>
                  <div class="thumb-content"><h4>Carla Cerda</h4></div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img src="https://enaloc.mx/wp-content/uploads/2020/11/44-1-150x150.png" class="img-responsive" alt="">
                  </div>
                  <div class="thumb-content"><h4>Santos Alberto</h4>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img src="https://enaloc.mx/wp-content/uploads/2020/10/5-150x150.png" class="img-responsive" alt="">
                  </div>
                  <div class="thumb-content"><h4>Sandro Fernández</h4>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img src="https://enaloc.mx/wp-content/uploads/2020/10/1-150x150.png" class="img-responsive" alt="">
                  </div>
                  <div class="thumb-content"><h4>Álvaro Álvarez</h4></div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img src="https://enaloc.mx/wp-content/uploads/2020/11/39-1-150x150.png" class="img-responsive" alt="">
                  </div>
                  <div class="thumb-content"><h4>Ruben Cerda</h4></div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img src="https://enaloc.mx/wp-content/uploads/2020/10/21-150x150.png" class="img-responsive" alt="">
                  </div>
                  <div class="thumb-content"><h4>Sebasrtina Llapur</h4></div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img src="https://enaloc.mx/wp-content/uploads/2020/10/19-150x150.png" class="img-responsive" alt="">
                  </div>
                  <div class="thumb-content"><h4>Claudia Mota</h4></div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img src="https://enaloc.mx/wp-content/uploads/2020/10/10-1-150x150.png" class="img-responsive" alt="">
                  </div>
                  <div class="thumb-content"><h4>Alex Hidalgo</h4></div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img src="https://enaloc.mx/wp-content/uploads/2020/10/8-150x150.png" class="img-responsive" alt="">
                  </div>
                  <div class="thumb-content"><h4>Ikaro Aton</h4></div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img src="https://enaloc.mx/wp-content/uploads/2020/10/7-150x150.png" class="img-responsive" alt="">
                  </div>
                  <div class="thumb-content"><h4>CCarlos Bau</h4></div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img src="https://enaloc.mx/wp-content/uploads/2020/10/13-150x150.png" class="img-responsive" alt="">
                  </div>
                  <div class="thumb-content"><h4>Luciana Gonzalez de Leon</h4></div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img src="https://enaloc.mx/wp-content/uploads/2020/10/25-150x150.png" class="img-responsive" alt="">
                  </div>
                  <div class="thumb-content"><h4>Jose Luis Orozco</h4>                   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
          <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
          <i class="fa fa-angle-right"></i>
        </a>
      </div>
      </div>
    </div>
  </div>  
</section>

<section>
  <h1>Ellos estan creando</h1>
  <div class="cards">
    <div class="card">
      <h2 class="card-title">Irving Hernández Piña</h2>
      <img src="https://enaloc.mx/wp-content/uploads/2022/07/2f7dcf63-39df-4198-a0d0-fe2d6302f761.jpeg" alt="">
      <p class="card-desc">Execelente institución educativa, los mejores profesionales, los profesores son excelentes, vives una experiencia increíble e inolvidable.</p>
    </div>
    <div class="card">
      <h2 class="card-title">Johnatan Pedraza Coronel</h2>
      <img src="https://enaloc.mx/wp-content/uploads/2022/01/testimonial-2.jpg" alt="">
      <p class="card-desc">¡Una escuela 100% comprometida con sus alumnos! ¡Excelente atención!</p>
    </div>
    <div class="card">
      <h2 class="card-title">Ulises Ordáz</h2>
      <img src="https://enaloc.mx/wp-content/uploads/2022/01/team-james.jpg" alt="">
      <p class="card-desc">Mis sábados son grandiosos con la especialización de Actuación y Doblaje de voz en @enalocmx. Mis fines de semana son bellísimos, llenos de aprendizaje, conocimiento u sueños por cumplir para convertirme en actor.</p>
    </div>
  </div>
</section>