<br><br><br>
<section class="light">
	<div class="container py-2">
		<div class="h1 text-center text-dark" id="pageHeaderTitle">Nuestros Talentos</div>
		<br><br>	
		<article class="postcard light blue">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="//i1.sndcdn.com/artworks-000473610339-acjwud-t200x200.jpg" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a href="#">Dayana Garrido</a></h1>
				<iframe width="100%" height="150" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/560679621&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/enaloc-mexico" title="Escuela Nacional de Locución México" target="_blank" style="color: #cccccc; text-decoration: none;">Escuela Nacional de Locución México</a> · <a href="https://soundcloud.com/enaloc-mexico/dayana" title="16 - Dayana Garrido" target="_blank" style="color: #cccccc; text-decoration: none;">16 - Dayana Garrido</a></div>
			</div>
		</article>
		<article class="postcard light red">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="//i1.sndcdn.com/artworks-000216751978-2newlv-t200x200.jpg" alt="Image Title" />	
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title red"><a href="#">Omar Vital</a></h1>
				<iframe width="100%" height="150" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/312404374&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/enaloc-mexico" title="Escuela Nacional de Locución México" target="_blank" style="color: #cccccc; text-decoration: none;">Escuela Nacional de Locución México</a> · <a href="https://soundcloud.com/enaloc-mexico/18-omar-vital" title="18- Omar Vital" target="_blank" style="color: #cccccc; text-decoration: none;">18- Omar Vital</a></div>
			</div>
		</article>
		<article class="postcard light blue">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="//i1.sndcdn.com/artworks-000216227588-9ue7mw-t200x200.jpg" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a href="#">Mayte Flores</a></h1>
				<iframe width="100%" height="150" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/312398190&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/enaloc-mexico" title="Escuela Nacional de Locución México" target="_blank" style="color: #cccccc; text-decoration: none;">Escuela Nacional de Locución México</a> · <a href="https://soundcloud.com/enaloc-mexico/10-mayte-flores" title="10- Mayte Flores" target="_blank" style="color: #cccccc; text-decoration: none;">10- Mayte Flores</a></div>
			</div>
		</article>
		<article class="postcard light red">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="//i1.sndcdn.com/artworks-000216567368-f8el6q-t200x200.jpg" alt="Image Title" />	
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title red"><a href="#">Álvaro Álvarez</a></h1>
				<iframe width="100%" height="150" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/312403865&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/enaloc-mexico" title="Escuela Nacional de Locución México" target="_blank" style="color: #cccccc; text-decoration: none;">Escuela Nacional de Locución México</a> · <a href="https://soundcloud.com/enaloc-mexico/17-alvaro-alvarez" title="17-Álvaro Álvarez" target="_blank" style="color: #cccccc; text-decoration: none;">17-Álvaro Álvarez</a></div>
			</div>
		</article>
		<article class="postcard light blue">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="//i1.sndcdn.com/artworks-000218730211-9vgusz-t200x200.jpg" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a href="#">Elean González</a></h1>
				<iframe width="100%" height="150" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/312397913&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/enaloc-mexico" title="Escuela Nacional de Locución México" target="_blank" style="color: #cccccc; text-decoration: none;">Escuela Nacional de Locución México</a> · <a href="https://soundcloud.com/enaloc-mexico/09-elean-gonzalez" title="09- Elean González" target="_blank" style="color: #cccccc; text-decoration: none;">09- Elean González</a></div>
			</div>
		</article>
		<article class="postcard light red">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="//i1.sndcdn.com/artworks-000216547541-rajeyu-t200x200.jpg" alt="Image Title" />	
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title red"><a href="#">Omar Domínguez</a></h1>
				<iframe width="100%" height="150" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/312401949&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/enaloc-mexico" title="Escuela Nacional de Locución México" target="_blank" style="color: #cccccc; text-decoration: none;">Escuela Nacional de Locución México</a> · <a href="https://soundcloud.com/enaloc-mexico/15-omar-dominguez" title="15-Omar Domínguez" target="_blank" style="color: #cccccc; text-decoration: none;">15-Omar Domínguez</a></div>
			</div>
		</article>
	</div>
</section>